#wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px;
  text-align: center;

  input {
    margin-top:20px ;
    text-align: center;
  }
}
#btn-wrapper{
  margin-top: 5px;
  display: flex;

}
